body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  margin: 0;
  color: brown;
}

p {
  text-align: justify
}

.about {
  margin-top: 15px;
}

a {
  color: ;
  text-decoration: none;
}

a:hover {
  color: ;
  text-decoration: underline;
}

header {
  text-align: center;
}

header p {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  font-size: 12.8px;
  color: darkgray;
}

nav {
  border-top: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
}

.bord {
  border-top: none;
  border-bottom: 1px solid blueviolet;
}

nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: ;
  display: block;
  padding: 8px 16px;
}

nav a:hover {
  background-color: ;
  color: ;
  text-decoration: none;
}

article {
  margin: 32px 0;
}

article img {
  float: left;
  margin: 0 16px 16px 0;
  border-radius: 16px;
}

article:after {
  content: "";
  display: table;
  clear: both
}

footer {
  text-align: center;
  background-color: blueviolet;
  padding: 20px 0;
  color: white;
}

footer p {
  display: inline;
}

footer a {
  color: white;
  text-decoration: underline
}

footer a:hover {
  color: gold;
  text-decoration: underline;
  font-weight: bold;
}

/*contact us*/
.wrapper {
  width: 80%;
  margin: 0 auto;
}

fieldset {
  border: 2px solid blueviolet;
  ;
  border-radius: 10px;
  margin-bottom: 2rem;
  margin-top: 3rem;
}


legend {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: cursive;
}


label {
  display: block;
  padding-top: 30px;
}

textarea {
  height: 10rem;
  width: 40rem;
  padding: 2rem;
}

button {
  font-size: 1rem;
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 50px;
  margin: 32px 0;
  cursor: pointer;
}

button:hover {
  background-color: brown;
}

input {
  width: 40rem;
  height: 30px;
}

.box {
  width: 30px;
  height: 20px;
}

.aboutPics {
  border: 2px solid brown;
}